/* css reset */
*, html {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    /* outline: solid red 2px; */
}

/* flexboxes */
.card, main, #profile{
    display: flex;
    flex-direction: column;
}

main{
    width: 100vw;
    height: 100vh;
    background-image: url(./resources/ivana-cajina-HDd-NQ_AMNQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.card{
    flex-direction: column;
    background-color: white;
    padding: 2em;
    margin: 2em;
    border-radius: 1rem;
    background-color: transparent;
    align-items: center;
    min-width: 90vw;
    min-height: 90vh;
    gap: 1em;

}

#profile{
    width: 60vmin;
    height: 60vmin;
    background-image: url(./resources/profile-frame.gif), url(./resources/Round\ Photo_Jun302023_173936.png);
    background-size: contain, 75%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, 46% 68%;
    align-items: center;
    justify-content: center;
}